/* global.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  color: rgb(227, 0, 0);
  margin-bottom: 20px;
}
.container-1{
  border-radius: 40px;
  margin-top: 7rem;
  height: 400px;
  background-color: rgba(253, 240, 96, 0.699);
}
.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 30px 5px;
  text-decoration: none;
}
.button-2{
  background-color: rgba(184, 4, 184, 0.95);
  color: black;
  transition: all 0.3s ease-in;
  width: 25%;
  font-size: 1.1rem;
  width: 35%;
  transition: all 0.3s ease-in;
}
.button-1{
  background-color: #ccc;
  color: black;
  width: 35%;
  font-size: 1.1rem;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.button:hover {
  background-color: rgb(85, 246, 246);
}
.input{
  margin-top: 20px;
  font-size: 1.2rem;
}
.input-field {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-container {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.error {
  color: red;
  margin-bottom: 15px;
}
